[submodule "Elisp/markdown-mode"]
	path = Elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "Elisp/multiple-cursors"]
	path = Elisp/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "Elisp/iedit"]
	path = Elisp/iedit
	url = https://github.com/victorhge/iedit
[submodule "Elisp/orgmode-markdown"]
	path = Elisp/orgmode-markdown
	url = git@github.com:pnkfelix/ORGMODE-Markdown.git
[submodule "Elisp/clojure-mode"]
	path = Elisp/clojure-mode
	url = git@github.com:pnkfelix/clojure-mode.git
[submodule "Elisp/org-mode"]
	path = Elisp/org-mode
	url = git@github.com:pnkfelix/org-mode.git
[submodule "Elisp/prelude"]
	path = Elisp/prelude
	url = git@github.com:bbatsov/prelude.git
