[submodule "Elisp/markdown-mode"]
	path = Elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "Elisp/multiple-cursors"]
	path = Elisp/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "Elisp/iedit"]
	path = Elisp/iedit
	url = https://github.com/victorhge/iedit
[submodule "Elisp/orgmode-markdown"]
	path = Elisp/orgmode-markdown
	url = git@github.com:pnkfelix/ORGMODE-Markdown.git
[submodule "Elisp/clojure-mode"]
	path = Elisp/clojure-mode
	url = git@github.com:pnkfelix/clojure-mode.git
[submodule "Elisp/org-mode"]
	path = Elisp/org-mode
	url = git@github.com:pnkfelix/org-mode.git
[submodule "Elisp/prelude"]
	path = Elisp/prelude
	url = git@github.com:bbatsov/prelude.git
[submodule "Elisp/unicode-fonts"]
	path = Elisp/unicode-fonts
	url = git@github.com:rolandwalker/unicode-fonts.git
[submodule "Elisp/font-utils"]
	path = Elisp/font-utils
	url = git@github.com:rolandwalker/font-utils.git
[submodule "Elisp/ucs-utils"]
	path = Elisp/ucs-utils
	url = git@github.com:rolandwalker/ucs-utils.git
[submodule "Elisp/persistent-soft"]
	path = Elisp/persistent-soft
	url = git@github.com:rolandwalker/persistent-soft.git
[submodule "Elisp/pcache"]
	path = Elisp/pcache
	url = git@github.com:sigma/pcache.git
[submodule "Elisp/helm"]
	path = Elisp/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "Elisp/emacs-bash-completion"]
	path = Elisp/emacs-bash-completion
	url = git@github.com:szermatt/emacs-bash-completion.git
[submodule "Elisp/circe"]
	path = Elisp/circe
	url = git://github.com/jorgenschaefer/circe.git
[submodule "Mercurial/qimportbz"]
	path = Mercurial/qimportbz
	url = ./Mercurial/qimportbz
